.vs/Pong/v15/.suo
.vs/Pong/v15/Browse.VC.db
.vs/Pong/v15/Browse.VC.opendb
.vs/Pong/v15/ipch/PONG-78772cad/PONG-54b70600.ipch
.vs/Pong/v15/ipch/a95da01d5eb0bce4.ipch
Debug/Pong.exe
Debug/Pong.ilk
Debug/Pong.pdb
Pong/Debug/Pong.log
Pong/Debug/Pong.obj
Pong/Debug/Pong.pch
Pong/Debug/Pong.tlog/CL.command.1.tlog
Pong/Debug/Pong.tlog/CL.read.1.tlog
Pong/Debug/Pong.tlog/CL.write.1.tlog
Pong/Debug/Pong.tlog/Pong.lastbuildstate
Pong/Debug/Pong.tlog/link.command.1.tlog
Pong/Debug/Pong.tlog/link.read.1.tlog
Pong/Debug/Pong.tlog/link.write.1.tlog
Pong/Debug/stdafx.obj
Pong/Debug/vc141.idb
Pong/Debug/vc141.pdb
Pong/Debug/
